<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Category Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.categories}}
    <tr>
      <td>{{CatID}}</td>
      <td>{{CatName}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>