<form action="" method="POST">
  <div class="card shadow">
    <h5 class="card-header">
      New Category
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatName">Category Name</label>
        <input type="text" class="form-control" id="txtCatName" name="CatName">
      </div>
    </div>
    <div class="card-footer text-right">
      <a class="btn btn-outline-primary" href="/categories" role="button" title="Back">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>