<form action="/categories/update" method="POST">
  <div class="card shadow">
    <h5 class="card-header">
      Edit Category
    </h5>
    <div class="card-body">
      {{#if this.error}}
      <div class="alert alert-danger" role="alert">
        Invalid categoryId. <a href="/categories" class="alert-link">Back to List</a>.
      </div>
      {{else}}
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input readonly type="text" class="form-control" id="txtCatID" name="CatID" value="{{this.category.CatID}}">
      </div>
      <div class="form-group">
        <label for="txtCatName">Category Name</label>
        <input type="text" class="form-control" id="txtCatName" name="CatName" value="{{this.category.CatName}}">
      </div>
      {{/if}}
    </div>
    <div class="card-footer text-right">
      <a class="btn btn-outline-primary" href="/categories" role="button" title="Back">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      {{#unless this.error}}
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
      {{/unless}}
    </div>
  </div>
</form>